<section class="mx-5">
    <h1 class="text-2xl font-bold">Pipes Básicos</h1>
    <h3 class="text-xl font-thin">Pipes incluidos en Angular</h3>
</section>

<div class="stats stats-vertical lg:stats-horizontal shadow w-full">
    <div class="stat">
        <div class="stat-title">Lowercase Pipe</div>
        <div class="stat-value">{{ nameUpper() | lowercase }}</div>
        <div class="stat-desc">{{ nameUpper() }} (sin formatear)</div>
    </div>
    <div class="stat">
        <div class="stat-title">Uppercase Pipe</div>
        <div class="stat-value">{{ nameLower() | uppercase }}</div>
        <div class="stat-desc">{{ nameLower() }} (sin formatear)</div>
    </div>
    <div class="stat">
        <div class="stat-title">Titlecase Pipe</div>
        <div class="stat-value">{{ fullName() | titlecase }}</div>
        <div class="stat-desc">{{ fullName() }} (sin formatear)</div>
    </div>
</div>

<div class="divider"></div>

<div class="stats stats-vertical lg:stats-horizontal shadow w-full">
    <div class="stat">
        <div class="stat-title">Date Pipe</div>
        <div class="stat-value">{{ myDate() | date }}</div>
        <div class="stat-desc">{{ myDate() }} (sin formatear)</div>
    </div>
    <div class="stat">
        <div class="stat-title">Date | full | GMT-6</div>
        <div class="stat-value">{{ myDate() | date: "full": "GMT-6" }}</div>
        <div class="stat-desc">{{ myDate() }} (sin formatear)</div>
    </div>
</div>

<div class="stats stats-vertical lg:stats-horizontal shadow w-full">
    <div class="stat">
        <div class="stat-title">Date: "yyyy MM"</div>
        <div class="stat-value">{{ myDate() | date: "yyyy MM" }}</div>
        <div class="stat-desc">{{ myDate() }} (sin formatear)</div>
    </div>
    <div class="stat">
        <div class="stat-title">Date | short | GMT-4</div>
        <div class="stat-value">{{ myDate() | date: "short": "GMT-4" }}</div>
        <div class="stat-desc">{{ myDate() }} (sin formatear)</div>
    </div>
</div>

<div class="divider"></div>

<div class="stats stats-vertical lg:stats-horizontal shadow w-full">
    <div class="stat">
        <div class="stat-title">Date Pipe</div>
        <div class="stat-value">{{ myDate() | date: "dd/MM/yyyy" }}</div>
        <div class="stat-desc">{{ myDate() }} (sin formatear)</div>
    </div>
    <div class="stat">
        <div class="stat-title">Date Pipe</div>
        <div class="stat-value">{{ myDate() | date: "HH:mm:ss" }}</div>
        <div class="stat-desc">{{ myDate() }} (sin formatear)</div>
    </div>
    <div class="stat">
        <div class="stat-title">Date Pipe</div>
        <div class="stat-value">{{ myDate() | date: "EEEE d, MMMM" }}</div>
        <div class="stat-desc">{{ myDate() }} (sin formatear)</div>
    </div>
</div>
